{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Phudu:wght@300..900&family=Rubik+Bubbles&display=swap" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" />
        <title>{% block title %}Planteer{% endblock %}</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </head>
    <body>
        <header class="container-fuild m-5 fixid-top">
            <nav class="navbar navbar-expand-md ">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'main:home_view' %}">Planteer</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#right-nav" aria-controls="right-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="right-nav">
                        <ul class="navbar-nav align-items-center ms-auto mb-2 mb-md-0 gap-4">
                            <li class="nav-item"> 
                                <a class="nav-link" aria-current="page" href="{% url 'plants:all_plants_view'%}">All Plants</a>
                            </li>
                            <li class="nav-item "> 
                                <a class="nav-link" href="{%url 'main:contact_view' %}">Contact Us</a>
                            </li>
                            <li class="nav-item ">
                                <a href="{%url 'plants:add_plant_view' %}" class="btn btn-dark" aria-disabled="true">Add Plant</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </header>
        <main class="container-fuild mx-5">
            {%block content%}

            {%endblock%}
  

            
            <footer>
                <div class="container">
                    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
                      <div class="col d-flex mb-3 flex-column justify-content-between ">
                        <a class="navbar-brand" href="/">Planteer</a>

                        <div class="d-flex flex-row justify-content-start gap-4 py-3">
                            <a class="" href="#"><i class="bi bi-facebook"></i></a>
                            <a class="" href="#"><i class="bi bi-linkedin"></i></a>
                            <a class="" href="#"><i class="bi bi-youtube"></i></a>
                           <a class="" href="#"><i class="bi bi-instagram"></i></a>
                        </div>
                    </div>
                  
                      <div class="col mb-3">
                  
                      </div>
                  
                      <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        </ul>
                      </div>
                  
                      <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        </ul>
                      </div>
                  
                      <div class="col mb-3">
                        <h5>Section</h5>
                        <ul class="nav flex-column">
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Home</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Features</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
                          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
                        </ul>
                      </div>
                    </footer>
                  </div>

            </footer>
        </main>
        {%block extra%}
        {%endblock%}

    </body>
</html>