{% extends 'main/base.html' %}

{% block title %} Planteer {% endblock %}

{% block content %}

<section class="container-fluid d-flex flex-column justify-content-start">
    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
        <h4 class="">All Plants</h4>
        <div class="d-inline-flex  justify-content-end align-items-center gap-1">
            <a href="{% url 'plants:search_plants_view'%}" class="btn btn-dark nav-link">Search </a>
            <form action="{% url 'plants:filter_edible_view' %}"  method="get" id="edibleForm">
                <div class=" btn btn-dark">
                    <input class="form-check-input" type="checkbox" id="gridCheck1" name="Edible" value="True" {%if request.GET.Edible%}checked{%endif%} >
                    <label class="form-check-label" for="gridCheck1">
                        Edible
                    </label>
                </div>
            </form>
            
   


            <div class="dropdown">
                <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Categories
                </button>
                <ul class="dropdown-menu" style="max-height: 150px; overflow-y: auto;">

                    {% for val, label in CategoryChoices %}
                    <li><a class="dropdown-item" name="{{val}}" href="{% url 'plants:filter_category_view' val%}">{{ label }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>


    <div class="container-fluid p-0">
        <div class="row cutom-card ">
            {% for plant in plants %}
            <div class="col-12 col-md-6 col-xl-4 mb-sm-3"> 
                <div class="d-flex flex-column me-1 ">
                    <img src="{{ plant.image.url }}" class="plant-image mb-3" alt="{{ plant.name }}">
                    <a href="{% url 'plants:plant_details_view' plant.id%}" class="plant-btn">
                        <h5>{{ plant.name }}</h5>
                    </a>
                    <p>{{ plant.about }}</p>
                    <h6>{{ plant.get_category_display }}</h6>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


</section>
{%endblock%}
{%block extra %}

{%endblock%}